@import 'tailwindcss';

@source '../content/**/*.md';

@custom-variant dark (&:is(.dark *));

@view-transition { navigation: auto; }

@theme {
  --font-mono:
    Consolas, 'Cascadia Code', ui-monospace, SFMono-Regular, 'SF Mono',
    Menlo, Monaco, 'Liberation Mono', 'Courier New', monospace;

  --text-body: 1rem;

  --leading-relaxed: 1.6;

  --container-content: 56rem;

  --ease-custom: cubic-bezier(0.4, 0, 0.2, 1);
}
