.catalogue {
  @extend .article-list;

  a {
    display: block;
    color: inherit;
    text-decoration: inherit;

    div {
      @extend .article-item;

      time {
        @extend .article-date;

        .day {
          svg {
            width: 0.75rem;
            height: 0.75rem;
            display: block;
            vertical-align: middle;
          }

          align-items: center;
          display: flex;
          margin-right: calc(0.25rem);
          margin-left: calc(0.25rem);

          span {
            margin-right: calc(0.25rem);
            margin-left: calc(0.25rem);
          }
        }

        .reading {
          svg {
            width: 0.75rem;
            height: 0.75rem;
            display: block;
            vertical-align: middle;
          }

          margin-left: calc(0.75rem);
          align-items: center;
          display: flex;

          span {
            margin-right: calc(0.25rem);
            margin-left: calc(0.25rem);
          }
        }
      }

      .catalogue-title {
        @extend .article-title;
      }

      .catalogue-subtitle {
        @extend .article-subtitle;
      }

      .catalogue-more {
        @extend .article-more;

        // Dark mode specific color
        .theme-dark & {
          color: var(--link);
        }
      }
    }

    div:hover {
      .catalogue-more {
        text-decoration: underline;
      }
    }
  }
}
