// Hide the "dark mode" & the "light mode" buttons
#dark-mode, #light-mode {
  display: none;
}

// And reveal the dark/light button depending on the color-theme parameter
html[color-theme=dark] #dark-mode, html[color-theme=light] #light-mode {
  display: block;
  @include button-reset;
  line-height: 0;
  @include transition(opacity);
  
  &:hover {
    opacity: 0.8;
  }
}
