@layer components {
  .card-base {
    @apply shadow-card bg-light-catalogue-item-bg dark:bg-dark-catalogue-item-bg rounded-xl overflow-hidden;
    transition-property: transform, box-shadow, background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-base:hover { @apply bg-light-catalogue-bg dark:bg-dark-catalogue-bg shadow-card-hover; }
  .theme-dark .card-base:hover { @apply shadow-card-dark-hover; }

  .container-custom { @apply max-w-content mx-auto px-4; }

  /* Badges */
  .badge { @apply px-3 py-1 text-xs font-medium leading-none rounded-xl inline-block; }
  .badge-overlay { @apply badge absolute top-3 right-2 bg-black bg-opacity-70 text-white backdrop-blur-sm z-10; }

  /* Scroll to top button */
  .top {
    @apply fixed bottom-6 right-6 z-50 inline-flex items-center justify-center w-10 h-10 text-light-text-secondary dark:text-dark-text-secondary transition-opacity;
  }
  .top:hover { @apply text-light-text-primary dark:text-dark-text-primary; }
  .top svg { @apply w-full h-full; }
}
